---
title: "Alex Kappen"
permalink: "/"
layout: default
---


<section id="skills">
  <h2>Skills</h2>
  <div class="coding">
    <canvas id="coding-showcase" width="200" height="200"></canvas>
  </div>
</section>
<section id="education">
  <div class="grid-2-inline">
    <div class="container porthole">
      <p>Image</p>
      <h2>Education</h2>
    </div>
    <div class="image-card alt">
      <div class="image-frame">
        <div class="bean"></div>
      </div>
      <div class="details">
        <h4 class="title">{{ site.data.education.university.title }}</h4>
        <p class="location">{{ site.data.education.university.location }}</p>
        <p class="timeframe">{{ site.data.education.university.date-start }} - {{ site.data.education.university.date-end }}</p>
        <p class="description">{{ site.data.education.university.description }}</p>
      </div>
  </div>
  </div>
</section>
<section id="work">
  <h2>Work Experience</h2>
  <div class="grid">
  {% for entry in site.data.work %}
  <div class="card grid-card">
    <h4 class="title">{{ entry.title }}</h4>
    <p class="location">{{ entry.location }}</p>
    <p class="timeframe">{{ entry.date-start }} - {{ entry.date-end }}</p>
    <p class="description">{{ entry.description }}</p>
  </div>
  {% endfor %}
  </div>
</section>
<section id="volunteer">
  <h2>Volunteer Work</h2>
  <div class="grid">
    {% for entry in site.data.volunteer %}
    <div class="square-card flip-card ">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="{{ entry.img }}">
          <h4 class="title">{{ entry.title }}</h4>
          <p class="location">{{ entry.location }}</p>
          <p class="timeframe">{{ entry.date-start }} - {{ entry.date-end }}</p>
        </div>
        <div class="flip-card-back">
          <p class="description">{{ entry.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section id="contact">
  <div class="grid-box">
    <h2>Contact</h2>
  </div>
</section>