---
title: "Alex Kappen"
permalink: "/"
layout: default
---


<section id="skills">
  <h2>Skills</h2>
  <div id="skills-showcase">
    <canvas width="200" height="200"></canvas>
    <div id="skills-details" class="hor-grid">
      {% for entry in site.data.skills %}
      <div class="card transparent-card">
        <h4 class="title">{{ entry.title }}</h4>
        <!-- <p class="location">{{ entry.location }}</p>
        <p class="timeframe">{{ entry.timeframe }}</p> -->
        {% for d in entry.description %}
          <p class="description">{{ d.detail }}</p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="coding-examples grid">
    <div class="transparent-card">
      <h3>JavaScript Coding Examples</h2>
      <button id="reveal-canvas">Example 1</button>
      <button id="reveal-svg-draw">Example 2</button>
    </div>
    <div class="svg-draw">
      {% include bean.html %}
    </div>
  </div>
</section>

<section id="education">
  <div class="grid-2-inline">
    <div class="container porthole">
      <h2>Education</h2>
    </div>
    <div class="image-card alt">
      <div class="image-frame">
        <div class="education"></div>
      </div>
      <div class="info">
        {% for entry in site.data.education %}
          <h4 class="title">{{ entry.title }}</h4>
          <p class="location">{{ entry.location }}</p>
          <p class="timeframe">{{ entry.timeframe }}</p>
          <ul class="details">
          {% for d in entry.description %}
            <li class="description">{{ d.detail }}</li>
          {% endfor %}
          </ul>
        {% endfor %}
      </div>
  </div>
  </div>
</section>

<section id="work">
  <h2>Work Experience</h2>
  <div class="grid">
  {% for entry in site.data.work %}
  <div class="card grid-card">
    <h4 class="title">{{ entry.title }}</h4>
    <p class="location">{{ entry.location }}</p>
    <p class="timeframe">{{ entry.timeframe }}</p>
    <ul class="details">
    {% for d in entry.description %}
      <li class="description">{{ d.detail }}</li>
    {% endfor %}
    </ul>
    </div>
  {% endfor %}
  </div>
</section>

<section id="volunteer">
  <h2>Volunteer Work</h2>
  <div class="grid">
    {% for entry in site.data.volunteer %}
    <div class="square-card flip-card ">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="{{ entry.img }}">
          <h4 class="title">{{ entry.title }}</h4>
          <p class="location">{{ entry.location }}</p>
          <p class="timeframe">{{ entry.timeframe }}</p>
        </div>
        <div class="flip-card-back">
          <ul class="details">
            {% for d in entry.description %}
            <li class="description">{{ d.detail }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section id="contact">
  <div class="grid-box">
    <div class="card">
      <h2>Contact</h2>
      <img src="/assets/img/professional-email.jpg">
      <a href="https://github.com/alexkappen" target="_blank">GitHub</a>
      <a href="https://github.com/imakappa" target="_blank">GitHub (Hobby Account)</a>
    </div>
  </div>
</section>