@import "bootstrap/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

// body {
//   font-family: 'Trebuchet MS', 'sans-serif'
// }

// section {
//   width: 100%;
//   padding: 1em;
// }

// @import "sections/header";

// @import "utils/utils";

// @import "sections/footer";



