@import "utils/_colours";
@import "utils/_utils";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Trebuchet MS', 'sans-serif';
  color: $textColour;
  background-color: $tertiary;
}

section {
  width: 100%;
  padding: 0.5em;
}

h2 {
  margin: auto;
  text-align: center;
}

a {
  color: $textColour;
  text-decoration: none;
  transition-duration: 0.3s;
  &:hover,
  &:focus {
    color: $secondary;
    text-decoration: underline;
  }
}

@import "sections/_header";

@import "sections/_squareCard";

@import "sections/_footer";
  




