#education {
  // Nav is 8vh, so 92vh education section + nav = 100vh
  height: 92vh;
}

.undergrad-details {
  .program {
    font-weight: bold;
    border-bottom: 1px solid $main-theme-colour;
  }
  .dates {
    color: $text-colour-light;
  }
}

.img-undergrad {
  display: block;
  max-width: 200px;
  height: auto;
  margin: auto;
}

.curriculum {
  margin: 0.5rem;
  .subject {
    color: $text-colour;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    &:hover {
      border-bottom: 2px solid $main-theme-colour;
    }
  }
  
}