.noscript {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: yellow;
}

.section-title {
  background-color: $main-theme-accent-dark;
  border-bottom: 3px solid $main-theme-accent-light;
  color: $white;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
  }
}