.skills-showcase {
  display: flex;
  flex-direction: column;
}

.canvas-wrapper {
  display: block;
  // border: 1px solid #000;
  width: 100%;
  height: 40vh;
  position: relative;
  .canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.canvas-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.5rem 0;
  position: relative;
  button {
    margin: 0 0.5rem;
  }
}

.mobile-warning {
  font-size: 0.7rem;
  text-align: center;
  @include for-size(tablet-landscape-up) {
    display: none;
  }
}

.skills-showcase .svg-draw {
  width: 100%;
  height: 30vh;
  .svg-frame {
    margin: auto;
    // 30vh was slightly too big
    // 28vh is a decent size on mobile
    max-width: 28vh;
  }
}

