html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

canvas {
  display: block;
}

.content {
  padding: 1em 2em;
  margin: 0 1em;
}

.priorsAndEase {
  margin-top: 5em;
}

.searchHistory {
  display: inline-block;
}

h3 {
  margin-top: 0;
}
footer p {
  text-align: end;
}

@media print {
  img {
    width: 40%;
  }
}
