---
---
/* Print (Essentially the output) */

@page {
  size: 5.5in 8.5in;
  margin: 70pt 60pt 70pt;
}

@media print {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Times New Roman", Times, serif;
    font-size: 11pt;
    line-height: 1.6;
  }
  h1 {
    font-size: 16pt;
    text-align: center;
  }
  h2 {
    font-size: 14pt;
    text-align: center;
    margin: 0 auto;
    margin-top: 4px;
  }
  a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
  }
  a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
    text-decoration: underline;
  }
  ul.details {
    list-style-type: none;
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    padding-left: 16px;
    margin-left: 20px;
    break-inside: avoid;
  }
  img {
    display: block;
    margin: auto;
  }
  strong {
    color: rgba(0, 0, 0, 0.9);
  }
  .title,
  .location {
    display: inline-block;
  }
  .location:before {
    content: " | ";
  }
  .timeframe {
    color: rgba(0, 0, 0, 0.8);
  }
}