// New Colour Palette (by Candela Rota from Adobe Color)

$primaryWhite: #ffffff;
$primaryGrey: #40403E;
$primaryBlack: #080808;

$primaryBlue: #0C6ACB;
$secondaryBlue: #00AAF2;

$primaryOrange: #FB4B3E;
$secondaryOrange: #FAB70B;

$highlightPurple: #874DBD;

$textBlack: #000000;
$textGrey: #40403E;
$textWhite: #ffffff;

.primaryBlue {
  border: 2px solid $primaryBlue;
  background-color: $primaryWhite;
  &:hover {
    background-color: $primaryBlue;
    color: $textWhite;
  }
}

.secondaryBlue {
  border: 2px solid $secondaryBlue;
  background-color: $primaryWhite;
  &:hover {
    background-color: $secondaryBlue;
    color: $textWhite;
  }
}

.primaryOrange {
  border: 2px solid $primaryOrange;
  background-color: $primaryWhite;
  &:hover {
    background-color: $primaryOrange;
    color: $textWhite;
  }
}

.secondaryOrange {
  border: 2px solid $secondaryOrange;
  background-color: $primaryWhite;
  &:hover {
    background-color: $secondaryOrange;
    color: $textWhite;
  }
}

.highlightPurple {
  border: 2px solid $highlightPurple;
  background-color: $primaryWhite;
  &:hover {
    background-color: $highlightPurple;
    color: $textWhite;
  }
}