.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $main-theme-accent-dark;
  // Pushes content above sticky bottom nav on mobile
  margin-bottom: 8vh;
  padding: 1rem;
  @include for-size(tablet-landscape-up) {
    margin-bottom: 0;
  }
  .section-title {
    margin-bottom: 0.5rem;
  }
  .footer-link {
    color: $white;
    margin: 0.5rem;
  }
}

