footer {
  background-color: $primaryBlue;
  color: $textWhite;
  width: 100%;
  padding: 4em 2em;
  text-align: center;
  a {
    color: $textWhite;
    &:hover {
      color: $textWhite;
    }
  }
}

.resume-pdf {
  padding: 8px 16px;
  // margin-bottom: 1em;
  border-radius: 4px;
  background-color: $secondaryBlue;
  color: $textWhite;
  &:hover {
    background-color: $primaryWhite;
    color: $primaryBlue;
  }
}