button {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  @include for-size(tablet-landscape-up) {
    padding: 0.8rem 1.2rem;
    font-size: 1.1rem;
  }
}

.btn-secondary {
  background-color: $secondary-theme-colour;
  border-bottom: 2px solid $secondary-theme-accent-dark;
  color: $white;
  &:hover {
    background-color: $secondary-theme-accent-dark;
    border-bottom: 2px solid $secondary-theme-accent-light;
  }
}

