button {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-round {
  border-radius: 15px;
  padding: 0.5rem 1rem;
  background-color: $secondary-theme-accent-dark;
  border-bottom: 2px solid $secondary-theme-accent-light;
  color: $white;
}

