<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js" defer></script>
  <script src="{{ '/assets/scripts/main.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/scripts/bean.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/scripts/svg-draw.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/scripts/canvas.js' | relative_url }}" defer></script>
</head>
  <body>
    <noscript><div class="noscript">Please enable JavaScript to see some of my code demos. Thanks!</div></noscript>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>