<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  <!-- Anime.js -->
  <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js" defer></script>
  <!-- SVG Drawing js -->
  <script src="{{ site.baseurl}}assets/js/svgdraw/svgdrawer.js" defer></script>
  <script src="{{ site.baseurl}}assets/js/svgdraw/bean.js" defer></script>
  <!-- Bubbles Demo Script -->
  <script src="{{ site.baseurl}}assets/js/bubbles/bubbles.js" defer></script>
  <!-- Gravity Demo Script -->
  <script src="{{ site.baseurl}}assets/js/gravity/utils.js" defer></script>
  <script src="{{ site.baseurl}}assets/js/gravity/gravity.js" defer></script>
  <!-- Main JS Script -->
  <script src="{{ site.baseurl}}assets/js/main.js" defer></script>
</head>
  <body>
    <noscript><div class="noscript">Please enable JavaScript to see some of my code demos. Thanks!</div></noscript>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>