footer {
  background-color: $primaryBlue;
  color: $textWhite;
  width: 100%;
  padding: 4em 2em;
  text-align: center;
  a {
    color: $textWhite;
    &:hover {
      color: $textWhite;
    }
  }
}